<h1 class="title">Editing abitant</h1>

<%= error_messages_for :abitant %>

<% form_for(@abitant) do |f| %>

  <%unless @abitant.login%>
    <p>
      <b>Login</b> (only set first time) <br />
      <%= f.text_field :login %>
    </p>
  <%end%>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>
  <%= f.hidden_field :id%>
  <p >Set/change your password (optional):</p>
  <p>
    <b>Password</b><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <b>Password confirmation</b><br />
    <%= f.password_field :password_confirmation %>
  </p>


    <%= f.submit "Update" -%>

    | <%= link_to 'Cancel', @abitant %>
  </p>
<% end %>

