<span class="right"><%=link_to_xml%></span>
<h1 class="title">List of a'bitants and cities</h1>

<%= will_paginate @abitants %>
<table id="abitants">
  <tr>
    <th>Username</th>
    <th>Favs</th>
    <th>Url</th>
  </tr>

<% for abitant in @abitants %>
  <tr>
    <td><%= link_to_abitant abitant %></td>
    <td class="amount"><%=h abitant.favs %></td>
    <%url=abitant.url%>
    <td><%=link_to(url, url) if url%>
  </tr>
<% end %>
</table>

