<h1 class="title">Username: <%= h(@abitant.login) || "abitant-#{@abitant.id} (doesn't set yet)" %></h1>
<span id="options" class="right">
  <%= link_to 'transfers', :controller=>:transfers, :id=>@abitant %>
  <%if current_abitant%>
    <%if current_abitant==@abitant%>
      | <%= link_to 'edit profile', edit_abitant_path(@abitant) %>
    <%else%>
      | <%= link_to 'thank', {:controller=>:transfers, :receiver=>@abitant, :action=>'new'} %>
    <%end%>
  <%end%>
</span>
<%unless @abitant.name.blank?%>
  <p>
    <b>Name:</b> <%= @abitant.name %>
  </p>
<%end%>
<p>
  <b>URL:</b> <%= link_to(@abitant.url, @abitant.url) unless @abitant.url.blank?%>
</p>

<div class="fav-details">
  <p class="favs">
    <b>Favs:</b> <%=h @abitant.favs %><br />
  </p>
  <p class="wealth">
    <b>Generated wealth:</b> 
    <%="#{@abitant.generated_wealth} favs"%>
    <%=link_to "*","http://wiki.favpal.org/Favonomy#Generated_Wealth"%>
  </p>
</div>



