<h1>Listing inhabitants and cities</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Favs</th>
    <th>Url</th>
    <th>Created_at</th>
  </tr>

<% for inhabitant in @inhabitants %>
  <tr>
    <td><%=h inhabitant.login %></td>
    <td><%=h inhabitant.favs %></td>
    <td><%=h inhabitant.name %></td>
    <td><%=h inhabitant.url %></td>
    <td><%=h inhabitant.created_at %></td>
    <td><%= link_to 'Show', inhabitant %></td>
  </tr>
<% end %>
</table>

