<h1>Listing transfers</h1>
<table>
  <tr>
    <th>Receiver</th>
    <th>Sender</th>
    <th>Amount</th>
    <th>Created at</th>
    <th>Description</th>
    <th>Link</th>
  </tr>

<% for transfer in @transfers %>
  <tr>
    <%r=transfer.receiver%>
    <td><%=link_to r, "/#{r.to_param}" %></td>
    <%s=transfer.sender%>
    <td><%=link_to s, "/#{s.to_param}" %></td>
    <td><%=h transfer.amount %></td>
    <td><%=h transfer.created_at %></td>
    <td><%=h transfer.description %></td>
    <td><%=h transfer.link %></td>
    <td><%= link_to 'Show', transfer %></td>
  </tr>
<% end %>
</table>

