<h1 class="title">List of transfers</h1>

<table id="transfers">
  <tr class="header">
    <th>Sender</th>
    <th>Receiver</th>
    <th>Amount</th>
    <th>Created at</th>
	<th></th>
	<th></th>
  </tr>

<% for transfer in @transfers %>
  <tr class="row">
    <td class="sender"><%=link_to_abitant transfer.sender %></td>
    <td class="receiver"><%=link_to_abitant transfer.receiver %></td>
    <td class="amount"><%=h transfer.amount %></td>
    <td class="date"><%=time_ago_in_words(transfer.created_at)%> ago</td>
    <td class="description"><%=h transfer.description %></td>
    <td class="link"><%=h transfer.link %></td>
  </tr>
<% end %>
</table>
