<h1>Listing transfers</h1>
<table>
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Amount</th>
    <th>Created at</th>
    <th></th>
    <th></th>
  </tr>

<% for transfer in @transfers %>
  <tr>
    <td><%=link_to_abitant transfer.sender %></td>
    <td><%=link_to_abitant transfer.receiver %></td>
    <td><%=h transfer.amount %></td>
    <td><%=time_ago_in_words(transfer.created_at)%> ago</td>
    <td><%=h transfer.description %></td>
    <td><%=h transfer.link %></td>
  </tr>
<% end %>
</table>

