<%= error_messages_for :transfer %>
Receiver: <%=link_to_abitant @transfer.receiver%>
<% form_for(@transfer) do |f| %>
 <p>
    <%= f.hidden_field :receiver_id %>
  </p>

  <%= f.text_field(:amount,:size=>3) %>
  <%= f.submit "Thank" %>
<% end %>
<br />
<%= link_to 'Back', transfers_path %>
