<h1 class="title">New transfer</h1>
<%= error_messages_for :transfer %>
<p><b>Receiver:</b> <%=link_to_abitant @transfer.receiver%></p>
<% form_for(@transfer) do |f| %>
 <p>
    <%= f.hidden_field :receiver_id %>
  </p>

  <%= f.text_field(:amount,:size=>3) %>
  <%= f.submit "Thank" %>
<% end %>
<br />
<%= link_to 'Back', transfers_path %>
