<p>
  <b>Receiver:</b>
  <%=h @transfer.receiver_id %>
</p>

<p>
  <b>Sender:</b>
  <%=h @transfer.sender_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @transfer.amount %>
</p>

<p>
  <b>Created at:</b>
  <%=h @transfer.created_at %>
</p>

<p>
  <b>Description:</b>
  <%=h @transfer.description %>
</p>

<p>
  <b>Link:</b>
  <%=h @transfer.link %>
</p>


<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
