<h1 class="title">Transfer</h1>
<p>
  <b>Receiver:</b>
  <%=link_to @transfer.receiver, @transfer.receiver %>
</p>

<p>
  <b>Sender:</b>
  <%=link_to @transfer.sender, @transfer.sender %>
</p>

<p>
  <b>Amount:</b>
  <%=h pluralize(@transfer.amount, "fav") %>
</p>

<p>
  <b>Created at:</b>
  <%=time_ago_in_words(@transfer.created_at)%> ago
</p>

<p>
  <b>Description:</b>
  <%=h @transfer.description %>
</p>

<p>
  <%=h @transfer.link %>
</p>


<%= link_to 'Back', transfers_path %>
